<a href="https://colab.research.google.com/github/paridhi-pandey/pandas/blob/main/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mini Project Task Based on Pandas

## Load a sample CSV File

In [ ]:
import pandas as pd
#Loading the CSV file from your Google Drive
file_path = '/content/drive/MyDrive/salaries.csv'
df = pd.read_csv(file_path)

df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

Firstly, mounted the file to google drive and thus, imported it using it's exact path.

## Cleaning missing values

In [ ]:
df.dropna()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
133344,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
133345,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
133346,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
133347,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
133348,2021,SE,FT,Data Scientist,7000000,INR,94665,IN,50,IN,L

## Taking out the Summary Statistics

In [ ]:
df.describe(include='all')

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
count,133349.000000,133349,133349,133349,1.333490e+05,133349,133349.000000,133349,133349.000000,133349,133349
unique,NaN,4,4,390,NaN,26,NaN,102,NaN,95,3
top,NaN,SE,FT,Data Scientist,NaN,USD,NaN,US,NaN,US,M
freq,NaN,77241,132563,17314,NaN,126140,NaN,119579,NaN,119641,129561
mean,2024.358705,NaN,NaN,NaN,1.632833e+05,NaN,157617.272098,NaN,20.905669,NaN,NaN
std,0.680788,NaN,NaN,NaN,2.173860e+05,NaN,74288.363097,NaN,40.590044,NaN,NaN
min,2020.000000,NaN,NaN,NaN,1.400000e+04,NaN,15000.000000,NaN,0.000000,NaN,NaN
25%,2024.000000,NaN,NaN,NaN,1.060200e+05,NaN,106000.000000,NaN,0.000000,NaN,NaN
50%,2024.000000,NaN,NaN,NaN,1.470000e+05,NaN,146206.000000,NaN,0.000000,NaN,NaN
75%,2025.000000,NaN,NaN,NaN,1.990000e+05,NaN,198000.000000,NaN,0.000000,NaN,NaN
max,2025.000000,NaN,NaN,NaN,3.040000e+07,NaN,800000.000000,NaN,100.000000,NaN,NaN

## Filtering records (e.g., salary > 50,000)

In [ ]:
df[df["salary"]>90000]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
6,2025,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
133344,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
133345,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
133346,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
133347,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
133348,2021,SE,FT,Data Scientist,7000000,INR,94665,IN,50,IN,L

## Grouping and calculating averages

In [ ]:
df.groupby('work_year')['salary'].mean()

work_year
2020    356637.453333
2021    559350.990826
2022    167366.807345
2023    159269.246040
2024    161383.214589
2025    164022.993337
Name: salary, dtype: float64

## Save the cleaned data as a new CSV

In [ ]:
df.to_csv('Employee.csv', index=False)